<form [formGroup]="myForm">
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label hidden for=""><strong>ID PROVEEDOR</strong></label>
                <input hidden type="number" class="form-control" formControlName="idProveedor" readonly>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="form-group">
                <label for=""><strong>NOMBRES / RAZON SOCIAL</strong></label>
                <input type="text" class="form-control" formControlName="nombre" placeholder="Ingrese nombre">
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="form-group">
                <label for=""><strong>RUC</strong></label>
                <input type="text" class="form-control" formControlName="ruc" placeholder="Ingrese ruc" >
            </div>
        </div>
    </div>    
    <div class="row mt-3">
        <div class="col-12">
            <div class="form-group">
                <label for=""><strong>DIRECCION</strong></label>
                <input type="text" class="form-control" formControlName="direccion" placeholder="Ingrese la Direccion">
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="form-group">
                <label for=""><strong>Telefono</strong></label>
                <input type="text" class="form-control" formControlName="telefono" placeholder="Ingrese el celular" >
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="form-group">
                <label for=""><strong>Correo</strong></label>
                <input type="text" class="form-control" formControlName="correo" placeholder="Ingrese Correo">
            </div>
        </div>
    </div>
    
    
   
    <div class="row mt-4">
        <div class="col-12 ">
            <button (click)="save()" class="btn btn-primary btn-sm float-end mr-2 ml-2"> <i class="fas fa-save"></i> Guardar</button>
            <button (click)="closeModal(false)" class="btn btn-danger btn-sm float-end mr-2 ml-2"> <i class="fas fa-ban"></i> Cancelar</button>
        </div>
    </div>
  </form>