<link rel="stylesheet" href="./ventas-comprobante.component.css">



  <div class="boleto"  
    style="
    border-radius: 9px;
        margin-left: 31%;  
        border-width: 1.7px;
        border-style: solid;
        width: 38%;
        border-color: black;
        padding: 10px;" 
        >

    <div style="text-align: center;">

      <img  src="./assets/imagenes/logoLastmen.png" alt="" width="100px" >

    </div>
    <div class="header"> 
      <!-- <p>RAZÓN SOCIAL: </p> -->
      <p style="text-align: center;">Productos Naturales LASTMEN</p>
      <p style="text-align: center;"> Av. Tito Jaime Fernande3z 258 - Junín - Tingo Maria</p>
      <p style="text-align: center;"> R.U.C. N° 10443352487 </p>
      <h6 style="text-align: center;" >BOLETA DE VENTA ELECTRONICA</h6>
      <h6 style="text-align: center;" >NRO OPERACION: 102</h6>
      <p> 12/12/12</p>
    </div>
      <hr style="color: black;;"/>
      <div class="cliente">
      
      <h6>Cliente: {{cliente.nombres}}</h6>
      <h6>DNI: {{cliente.dni}}</h6> 
      <h6>Dirección: {{cliente.direccion}}</h6> 
      
    </div>
    <!-- <div class="col-2">
      <h5>N° de factura: 103</h5>
    </div>

  </div> -->

  <hr  />

  <div >
    <!-- <div  style="text-align: left;">
      <h6>Cliente:</h6>
      <p>{{cliente.nombres}}
      </p>
    </div> -->
    <!-- <div  style="text-align: left;">
      <h6>DNI:</h6>
      <p>{{cliente.dni}}</p>
    </div> -->
    <!-- <div  style="text-align: left;">
      <h6>Fecha:</h6>
    </div> -->
    <!-- <div  style="text-align: left;">
      <h6>Total:</h6>
      <p> {{venta.fecha}}</p>
    </div> -->
  </div>

  <div class="producto">
    <table>
      <thead>
        <tr>
          <!-- <th>Descripcion</th> -->
          <th style="padding:3%;">Cant.</th>
          <th style="padding:10%;">Descripción</th> 
          <th style="padding:20%;">P.Unit</th>
          <!-- <th>Descuento</th> -->
          <th style="padding:28%;">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of venta.detalleVentas">
          <td>{{d.cantidad}}</td>
          
          <!-- <td>{{d.producto.nombreProducto}}</td> -->
          <td>{{d.precio_unitario}}</td>
          <!-- <td>{{d.descuento}}</td> -->
          <td>{{(d.cantidad * d.precio_unitario) - d.descuento}}</td>
          <th>S/. {{total}}</th>
        </tr>
      </tbody>
      <tfoot>
        <!-- <tr>
          <th></th>
          <th></th>
          <th>Total</th>
          <th>S/. {{total}}</th>
        </tr> -->
      </tfoot>
    </table>
  </div>
  <hr/>
</div>

<div style="text-align: center;">
                       
  <a (click)="PrintElem()" class="btn btn-success text-center" id="btn_facturar_venta"><i class="fas fa-print"></i>
      Imprimir</a>
</div>
