<div id="app2" class="col-11">

  <div class="row my-3">
    <div class="col-10">
      <img src="./assets/imagenes/logoLastmen.png" alt="" width="200px">
    </div>
    <div class="col-10">
      <p>RAZÓN SOCIAL: </p>
      <p>Productos Naturales LASTMEN</p>
      <br>
      <p>DIRECCIÓN: </p>
      <p>Av. Tito Jaime Fernande3z 258 - Junín - Tingo Maria</p>
    </div>
    <div class="col-2">
      <h5>N° de factura: 103</h5>
    </div>

  </div>

  <hr />

  <div class="row fact-info mt-3">
    <div class="col-3">
      <h5>Nombres y apellidos</h5>
      <p>
        {{cliente.nombres}}
      </p>
    </div>
    <div class="col-3">
      <h5>DNI</h5>
      <p>
        {{cliente.dni}}
      </p>
    </div>
    <div class="col-3">
      <h5>Fecha</h5>
    </div>
    <div class="col-3">
      <p> {{venta.fecha}}</p>
    </div>
  </div>

  <div class="row my-5">
    <table class="table table-borderless factura">
      <thead>
        <tr>
          <th>Nombre</th>
          <!-- <th>Descripcion</th> -->
          <th>Cant.</th>
          <th>Precio Unitario</th>
          <th>Descuento</th>
          <th>Importe</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of venta.detalleVentas">
          <td>{{d.producto.nombreProducto}}</td>
          <!-- <td>{{d.producto.descripcion}}</td> -->
          <td>{{d.cantidad}}</td>
          <td>{{d.precioVenta}}</td>
          <td>{{d.descuento}}</td>
          <td>{{(d.cantidad * d.precioVenta) - d.descuento}}</td>
        </tr>
       
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th>Total</th>
          <th>S/. {{total}}</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <div style="text-align: center;">
                       
    <a (click)="PrintElem()" class="btn btn-success text-center" id="btn_facturar_venta"><i class="fas fa-print"></i>
        Imprimir</a>
</div>

</div>
