<form [formGroup]="myForm">  
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label hidden for=""><strong>Código</strong></label>
                <input hidden type="number" class="form-control" formControlName="idUsuario" readonly>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="form-group">
                <label for=""><strong>Usuario</strong></label>
                <input type="text" class="form-control" formControlName="usuario" placeholder="Ingrese Usuario">
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="form-group">
                <label for=""><strong>Tipo de Usuario</strong></label>
                <select class="form-select" name="tipousuario" formControlName="tipoUsuario" >
                  
                    <option value="Administrador"> Administrador </option>
                    <option value="Empleado"> Empleado</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="form-group">
                <label for=""><strong>Nombre</strong></label>
                <input type="text" class="form-control" formControlName="nombres" placeholder="Ingrese Nombre">
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="form-group">
                <label for=""><strong>Apellidos</strong></label>
                <input type="text" class="form-control" formControlName="apellidos" placeholder="Ingrese Apellidos">
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="form-group">
                <label for=""><strong>Direccion</strong></label>
                <input type="text" class="form-control" formControlName="direccion" placeholder="Ingrese su direccion">
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="form-group">
                <label for=""><strong>Contraseña</strong></label>
                <input type="text" class="form-control" formControlName="password" placeholder="Ingrese su contraseña ">
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="form-group">
                <label for=""><strong>Correo</strong></label>
                <input type="text" class="form-control" formControlName="correo" placeholder="Ingrese su correo">
            </div>
        </div>
    </div>
   
    <div class="row mt-4">
        <div class="col-12 ">
            <button (click)="save()" class="btn btn-primary btn-sm float-end mr-2 ml-2"> <i class="fas fa-save"></i> Guardar</button>
            <button (click)="closeModal(false)" class="btn btn-danger btn-sm float-end mr-2 ml-2"> <i class="fas fa-ban"></i> Cancelar</button>
        </div>
    </div>
</form>
