<!-- start navbar header-->
<app-header></app-header>
<!-- end navbar header-->
<div id="layoutSidenav">
    <!-- start sidenav menu lateral -->
    <app-sidenav>
        
    </app-sidenav>
    <!-- end sidenav menu lateral -->
    <div id="layoutSidenav_content">
        <!-- start workspace -->
        <main>
            <router-outlet></router-outlet>
        </main>
        <!-- end workspace -->
        <!-- start footer -->
        <app-footer></app-footer>
        <!-- end footer -->
    </div>
</div>
